<div class="container">
    <div class="row">
        <div class="col-4">
             <%= image_tag @account.image, class: "profile-pic" if @account.image.attached? %>
        </div>
        <div class="col-8 text-left">
            <h1><%= @account.username %></h1>
            <%= link_to "Edit profile", edit_account_registration_path, class: "btn btn-secondary"%>
            <div class="profile-stats"><%= @account.posts.count %> posts </div>
            <div class="profile-stats"><%= @account.total_followers %> followers </div>
            <div class="profile-stats"><%= @account.total_following %> following </div>

            <p><%= simple_format @account.description %></p>
            <% if @account.website.present? %>
                <p><a href="<%= @account.website %>"><%= @account.website %></a></p>
            <% end %>
        </div>
    </div>
    <div class="row">
            <% @posts.each do |post| %>
             <div class="col-4">
              <div class="profile-posts">
                    <%= image_tag post.image %>
              </div>
             </div> 
            <% end %>
    </div>
</div>
