<h2>Searching results</h2>
<ul>
  <% @accounts.each do |account| %>
    <div class="follows">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <%= link_to profile_picture(account, 'pp-post'), profile_path(account.username) %>
                <strong><%= link_to account.username, profile_path(account.username), class: "text-dark"%></strong>
            </div>

            <div class="col-sm-9 col-lg-10">
                <% unless current_account.following?(account) %>
                    <%= form_tag follow_account_path(account), method: :post do %>
                        <%= hidden_field_tag :follow_id, account.id %>
                        <%= submit_tag "Follow", class: "btn btn-info btn-sm" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
  <% end %>
</ul>
